body{
	font-family: Helvetica;
	background-color: #000;
	color: white;
}

main {
	padding-left: 25%;
	padding-right: 25%;
}

section {
	color: black;
}

h1 {
	text-align: center;
}

.left-stuff{
	padding-left: 0;
}

.panel-default > .panel-heading{
}

.panel-default {
}

.list-group-item {
}

.skill-list{
	list-style: none;
}

.inline-list{
	list-style: none;
}

.inline-list>li{
	display: inline;
}
